.karta{
width: 500px;
background-color: rgb(255, 152, 246);
margin: 10px;
border-radius: 5px;
text-align: center;

}
#bum{
background-color: rgb(250, 214, 94);
border-radius: 5px;

}

.kontejner-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#nadpis{
    background-color: rgb(137, 245, 230);
    width: 600px;
}

#hi{

    text-align:center;
    background-color: rgb(170, 170, 170);
}



#ku{
background-color: rgb(170, 170, 170);
    border-radius: 5px;
}